@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --LIGHT-COLOR: rgb(233, 233, 233);
    --DARK-COLOR: #222;
    --HIGHLIGHT-COLOR: rgb(114, 16, 16);
}

html, body {
    width: 100vw;
    height: 100vh;
    caret-color: transparent;
}

body {
    font-family: 'Lato', 'Times New Roman', Times, serif;
    background-image: url('./janko-ferlic-sfL_QOnmy00-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theme1 {
    background-image: url('./images/janko-ferlic-sfL_QOnmy00-unsplash.jpg');
}

.theme2 {
    background-image: url('./images/ivana-cajina-HDd-NQ_AMNQ-unsplash.jpg');
    /*Ivana Cajina*/
}

.theme3 {
    background-image: url('./images/daniel-leone-g30P1zcOzXo-unsplash.jpg');
    /*daniel leone*/
}

.theme4 {
    background-image: url('./images/garrett-sears-rXVFCA3fQ4I-unsplash.jpg');
    /*garrett sears*/
}

.theme5 {
    background-image: url('./images/patrick-fore-0gkw_9fy0eQ-unsplash.jpg');
}

.theme6 {
    background-image: url('./images/aaron-burden-y02jEX_B0O0-unsplash.jpg');
}

.theme7 {
    background-image: url('./images/clark-young-QdRnZlzYJPA-unsplash.jpg');
}

.theme8 {
    background-image: url('./images/pexels-dilara-irem-12414385.jpg');
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#pageName {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--DARK-COLOR);
    padding: 0.3em 0.5em;
    color: var(--LIGHT-COLOR);
    border-radius: 0.15em;
    border: 2px solid var(--LIGHT-COLOR);
    box-shadow: 3px 0 7px var(--DARK-COLOR);
}

@media screen and (min-width: 25rem) {
    #pageName {
        font-size: 1.75rem;
    }
}

.container {
    background-color: var(--LIGHT-COLOR);
    min-width: 20rem;
    max-width: 35rem;
    border-radius: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
    box-shadow: 3px 0 7px var(--DARK-COLOR);
    margin-inline: 2rem;
    position: relative;
}

.container > * {
    max-width: 100%;
}

#quote {
    white-space: wrap;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 1.4rem;
}

#name {
    font-size: 2rem;
    font-weight: 100;
    color: var(--HIGHLIGHT-COLOR);
    text-align: center;
    margin-bottom: 0.5rem;
}

#newQuote {
    background-color: var(--DARK-COLOR);
    color: var(--LIGHT-COLOR);
    border: 2px solid var(--LIGHT-COLOR);
    border-radius: 0.25rem;
    font-size: 0.9rem;
    padding: 0.5rem;
    box-shadow: 0 0 3px var(--DARK-COLOR);
}

#newQuote:active {
    box-shadow: none;
}

.cog {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(14%) sepia(0%) saturate(1729%) hue-rotate(209deg) brightness(99%) contrast(102%);
}

.cog:active {
    transform: rotateZ(360deg);
    transition: transform 0.5s linear;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
        top: 100%;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        top: 25%;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: scale(1);
        top: 25%;
    }
    100% {
        opacity: 0;
        transform: scale(0);
        top: 100%;
    }
}

.options {
    position: absolute;
    top: 100%;
    background-color: var(--LIGHT-COLOR);
    z-index: 2;
    padding: 2rem 1rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.options-appear {
    display: flex;
    animation: appear;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.options-disappear {
    display: flex;
    animation: disappear;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#optionsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.themeLabel {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.themeContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.theme {
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 5px var(--DARK-COLOR);
}

.selectedTheme {
    border: 4px solid var(--HIGHLIGHT-COLOR);
    box-shadow: none;
}

.authorLabel {
    text-align: center;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.authorField {
    width: 60%;
    line-height: 1.25em;
    font-size: 1.2rem;
    text-indent: 0.25em;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.2rem;
    border: 1px solid var(--DARK-COLOR);
    caret-color: auto;
}

#toggleTags {
    border: none;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.submitOptions {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    border: none;
    line-height: 1.5rem;
    width: 2rem;
    height: 2rem;
}

.darkener {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--DARK-COLOR);
    opacity: 0;
    pointer-events: none;
}

.darkener-visible {
    opacity: 0.7;
    transition: opacity 0.25s ease-out;
    pointer-events: auto;
}

.darkener-invisible {
    opacity: 0;
    transition: opacity 0.25s ease-in;
}

/* tags */

.outerTagContainer {
    max-height: 25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: 300ms transform 30ms, max-height 500ms;
    transform-origin: top;
}

@media screen and (min-width: 31.25rem) {
    .outerTagContainer {
        max-height: 17rem;
        grid-template-columns: repeat(4, 1fr);
        transition: 300ms transform 50ms, max-height 500ms;
    }
}

.hidden {
    max-height: 0rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 500ms, max-height 500ms;
}

.tagContainer {
    padding-inline: 0.1rem;
    display: flex;
    gap: 0.1rem;
    align-items: center;
}

.tagLabel {
    font-size: 0.9rem;
}

@media screen and (min-width: 31.25rem) {
    .tagLabel {
        font-size: 1rem;
    }
}

#attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.203);
    color: rgba(221, 221, 221, 0.596);
}

/* ANIMATION UTILITY CLASSES */

.no-transition {
    transition: none;
}

/* ANIMATION UTILITY CLASSES END */
