@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --LIGHT-COLOR: rgb(233, 233, 233);
    --DARK-COLOR: #222;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', 'Times New Roman', Times, serif;
    background-image: url('./janko-ferlic-sfL_QOnmy00-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#pageName {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--DARK-COLOR);
    padding: 0.3em 0.5em;
    color: var(--LIGHT-COLOR);
    border-radius: 0.15em;
    border: 2px solid var(--LIGHT-COLOR);
    box-shadow: 3px 0 7px var(--DARK-COLOR);
}

@media screen and (min-width: 25rem) {
    #pageName {
        font-size: 1.75rem;
    }
}

.container {
    background-color: var(--LIGHT-COLOR);
    min-width: 20rem;
    max-width: 35rem;
    border-radius: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
    box-shadow: 3px 0 7px var(--DARK-COLOR);
    margin-inline: 2rem;
    position: relative;
}

.container > * {
    max-width: 100%;
}

#quote {
    white-space: wrap;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 1.4rem;
}

#name {
    font-size: 2rem;
    font-weight: 100;
    color: rgb(114, 16, 16);
    text-align: center;
    margin-bottom: 0.5rem;
}

#newQuote {
    background-color: var(--DARK-COLOR);
    color: var(--LIGHT-COLOR);
    border: 2px solid var(--LIGHT-COLOR);
    border-radius: 0.25rem;
    font-size: 0.9rem;
    padding: 0.5rem;
    box-shadow: 0 0 3px var(--DARK-COLOR);
}

#newQuote:active {
    box-shadow: none;
}

.cog {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(14%) sepia(0%) saturate(1729%) hue-rotate(209deg) brightness(99%) contrast(102%);
}

@keyframes disappear {
    0% {
        transform: scaleX(1)
    }
    99% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(0);
        bottom: 99
    }
}

@keyframes reappear {
    0% {
        /* top: 0; */
        transform: scaleX(0)
    }
    100% {
        transform: scaleX(1);
    }
}

.invisible {
    background-color: green;
    opacity: 0;
}

.options {
    background-color: white;
    position: absolute;
    animation: reappear;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

.offpage {
    animation: disappear;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

.outerTagContainer {
    height: 16rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition: transform 400ms, height 500ms;
    transform-origin: top;
}

.hidden {
    height: 0rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 500ms, height 500ms;
}

#attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.404);
}

